.dataset__detail {
  display: flex;
  align-self: center;
  align-items: center;
  margin-top: 20px;
}
.discussionmode {
  min-height: 100vh;
}
.carousel-inner {
  min-height: 100vh !important;
}
.colors-control {
  color: darkblue !important;
}
.rounded-circle {
  border-radius: 50% !important;
}
.gutters-sm {
  line-height: 1 !important ;
}
hr {
  margin-top: 15px;
  margin-bottom: 15px;
}
.quotes {
  font-style: italic;
  font-size: large;
}
.questions {
  font-size: larger;
  font-weight: 500;
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,200italic);
body {
  /* background: #eee; */
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
}

.quote-card {
  /* background: #fff; */
  color: #222222;
  padding: 20px;
  /* padding-left: 50px; */
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.quote-card p {
  font-size: 22px;
  line-height: 1.5;
  margin: 0;
  max-width: 80%;
}
.quote-card cite {
  font-size: 16px;
  margin-top: 10px;
  display: block;
  font-weight: 200;
  opacity: 0.8;
}
body {
  font-size: 17px !important;
}
blockquote {
  margin: 0 18px 1rem;
}

.dataset__heading {
  background-color: #d9dcde;
}
.author__heading {
  background-color: #d9dcde;
  font-family: monospace;
}
.dataset__text {
  /* font-family: monospace; */
  font-size: 1.5rem;
  color: white;
}
.dataset__date {
  font-family: monospace;
  font-size: 1.5rem;
  color: white;
}
.tt:hover {
  background-color: white;
}
@media (max-width: 640px) {
  .quote-card:after {
    font-size: 22em;
    right: -25px;
  }

  .dataset__date {
    font-family: monospace;
    font-size: 0.8rem;
    color: white;
  }
  body {
    font-size: 13px !important;
  }
  .author__heading {
    font-size: 20px !important;
  }
  .jumbotron {
    margin-bottom: 3px !important;
  }
  .dataset__heading {
    font-size: 24px !important;
  }
  .dataset__text {
    font-size: 14px !important;
  }
  .discussioninfo {
    height: 300px !important;
  }
}
@media (max-width: 340px) {
  .dataset__text {
    font-size: 13px !important;
  }
}
.quote-card.blue-card {
  background: #0078ff;
  color: #ffffff;
  box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.quote-card.blue-card:before,
.quote-card.blue-card:after {
  color: #5faaff;
}
.quote-card.green-card {
  background: #00970b;
  color: #ffffff;
  box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.quote-card.green-card:before,
.quote-card.green-card:after {
  color: #59e063;
}
.discussioninfo {
  height: 250px;
}
.quote-card.red-card {
  background: #f61e32;
  color: #ffffff;
  box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.quote-card.red-card:before,
.quote-card.red-card:after {
  color: #f65665;
}

.quote-card.yellow-card {
  background: #f9a825;
  color: #222222;
  box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.quote-card.yellow-card:before,
.quote-card.yellow-card:after {
  color: #fbc02d;
}
@media (max-width: 640px) {
  .resp {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.resp {
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
  min-height: 100vh;
  /* background-image: linear-gradient(#32b9b5, #c8c8c9) */
}
.testimonial_auth_name {
  position: relative;
}
.testimonial_auth_name:before {
  /* position: relative;
  content: '';
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #343a40; */
}
.text-user_info {
  color: #c6c6c6;
}
.questions_list {
  /* margin: 0 20px; */
}
.questions_list li {
  position: relative;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.questions_list li span {
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  background: #3f51b5;
  background: #343a40;
  color: #fff;
  display: block;
  position: absolute;
  left: -0;
  top: 4px;
}
.quote-card_wrap:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 50%;
  border-left: 2px solid #a2a4a7;
  border-top: 2px solid #a2a4a7;
  pointer-events: none;
}
.quote-card_wrap:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
  border-right: 2px solid #a2a4a7;
  border-bottom: 2px solid #a2a4a7;
  pointer-events: none;
}
.testimonial_txt {
  font-size: 16px;
  font-weight: 500;
}
