.params {
  display: flex;
}
.butnA {
  margin-top: 100px;
}
.imgPro {
}

.section {
  text-align:center;
  font-size: 3em;
  
  /* This is important to make the button position relative to the section*/
  position:relative;
}

.profilePicture{
  width: 250px;
  height: 250px;
}
@media (max-width: 640px) {
  .profilePicture{
    width: 120px !important;
    height: 120px !important;
  }
  .profile__info{
    font-size: 15px !important;
  }
}
/**
Absolute in relation to the section
*/

#moveRight{
  top: 20px;
  left: 20px;
  position:absolute;
  z-index:999;
  font-size: 1em;
  cursor:pointer;
}
