.params {
  display: flex;
}
.butnA {
  margin-top: 100px;
}
.imgPro {
}

.section {
  text-align:center;
  font-size: 3em;
  
  /* This is important to make the button position relative to the section*/
  position:relative;
}

.profilePicture{
  width: 250px;
  height: 250px;
}
#input__gender input
{
  display: none;
}
@media (max-width: 640px) {
  .profilePicture{
    width: 120px !important;
    height: 120px !important;
  }
  .profile__info{
    font-size: 15px !important;
  }
  h5{
    font-size: 0.9rem !important;
    margin-bottom: 0;
    margin-top:1px;
  }
  h4{
    font-size: medium;
  }
  .dataset__detail{
    margin-left:7px;
    margin-right:7px;
  }
}
/**
Absolute in relation to the section
*/

#moveRight{
  top: 20px;
  left: 20px;
  position:absolute;
  z-index:999;
  font-size: 1em;
  cursor:pointer;
}

.carousel-control-next,.carousel-control-prev{
  position: fixed !important;
}
.carousel-control-prev{
  left: 40px !important;
}