.params {
  display: flex;
}
.butnA {
  margin-top: 100px;
}
.imgPro {
}
<<<<<<< HEAD

.section {
  text-align:center;
  font-size: 3em;
  
  /* This is important to make the button position relative to the section*/
  position:relative;
}


/**
Absolute in relation to the section
*/
#moveRight{
  top: 20px;
  left: 20px;
  position:absolute;
  z-index:999;
  font-size: 1em;
  cursor:pointer;
}
=======
>>>>>>> 11a254aca8d81f062ad625467f03a17e5af8a2d6
